
body, h1, h2, ul, li {
    margin: 0;
    padding: 0;
}


body {
    background-color: #FF6B6B;
    font-family: Arial, sans-serif;
    color: #FFF;
    text-align: center;
}


header {
    background-color: #FFCB6B;
    padding: 20px;
    border-bottom: 3px solid #FFA14E;
}

h1 {
    font-size: 36px;
    text-transform: uppercase;
    margin: 10px 0;
}

nav {
    margin: 20px 0;
}

menu {
    list-style: none;
}

menu li {
    display: inline;
    margin-right: 20px;
}

menu a {
    text-decoration: none;
    color: #FFF;
    font-weight: bold;
    font-size: 18px;
}


main {
    background-color: #FFF;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 20px;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: center;
}

thead {
    background-color: #FFA14E;
    color: #FFF;
    font-weight: bold;
}

tbody tr:nth-child(odd) {
    background-color: #FFD27B;
}

tbody tr:nth-child(even) {
    background-color: #FFE8A3;
}


footer {
    background-color: #FFCB6B;
    padding: 10px;
}

.text-reset {
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #FFF;
    font-weight: bold;
    font-size: 16px;
}


a:hover {
    text-decoration: underline;
    color: #FF6B6B;
}
